<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunar Storm</title>
    <link rel="stylesheet" href="lunar_storm.css">
</head>
<body>

    <div class="book" id="book">
        <img src="../Images/book1.jpeg" alt="">
        <div class="details">
            <div class="bname">lunar storm</div>
            <div class="author">This book is by: Name</div><hr>
            <div class="description">Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sit recusandae laboriosam minima doloremque numquam maiores nesciunt fugit, nobis deleniti assumenda consequatur minus, expedita veniam sequi facilis ipsam, saepe facere.</div>
            <div class="reservebtn">
                <button class="button">Reserve book</button>
            </div>
        </div>

    
    <div class="HOMEbtn">
        <a href="../index.html">Home</a>
    </div>
    

            
    <script src="lunar_storm.js"></script>
</body>
</html>